
table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
 }
 caption {
    padding: 0.3em;
 }

#btn_borrar{
    width: 5%;
    text-align: left;
    vertical-align: top;
    border: 1px solid#000;
    border-collapse: collapse;
    padding: 0.3em;

 }